<div class="content">
    <div class="container-fluid">
      <div class="content-wrapper">
        &nbsp;<br>
        <div class="card card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-compact-disc"></i>
              &nbsp;&nbsp;이미지
            </h3>
            <div class="card-tools">
              <button type="button" data-placement="bottom" data-toggle="tooltip" data-original-title="새로고침..." title="새로고침..." class="btn btn-tool" (click)="fullReload()">
                  <i class="fas fa-sync" (click)="fullReload()" title="새로고침..."></i>
              </button>
              <button type="button" data-placement="bottom" data-toggle="tooltip" data-original-title="새 이미지..." title="새 이미지..." class="btn btn-tool" (click)="showNew()">
                <i class="fas fa-plus-square" (click)="showNew()" title="새 이미지..."></i>
            </button>
            </div>
          </div>
          <div class="card-body">
           <table datatable id="imgList_datatable" [dtOptions]="imgList_dtOptions" [dtTrigger]="imgList_dtTrigger" class="table table-sm" style="vertical-align: middle !important;">
              <thead>
                <tr>
                  <th style="width: 10px">&nbsp;</th>
                  <th style="width: 60px">네임스페이스</th>
                  <th style="width: 100px">이름</th>
                  <th style="width: 20px">유형</th>
                  <th style="width: 150px">읽기 쉬운 이름</th>
                  <th style="width: 20px">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let thisImage of imageList">
                    <td style="line-height: 2.2 !important; align-content: center;"><i class="fas fa-compact-disc"></i></td>
                    <td style="line-height: 2.2 !important;">{{thisImage.namespace}}</td>
                    <td style="line-height: 2.2 !important;">{{thisImage.name}}</td>
                    <td style="line-height: 2.2 !important;">{{thisImage.type}}</td>
                    <td style="line-height: 2.2 !important;">{{thisImage.readableName}}</td>
                    <td style="line-height: 0 !important;">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" href="#" aria-expanded="false">작업</button>
                            <div class="dropdown-menu">
                                <!--- INFO BUTTON -->
                                <a class="btn" (click)="showInfo(thisImage.name, thisImage.namespace)" title="정보...">
                                    <i class="fas fa-info" (click)="showInfo(thisImage.name, thisImage.namespace)"></i>
                                </a>
                                <!--- EDIT BUTTON -->
                                <a class="btn" (click)="showEdit(thisImage.name, thisImage.namespace)" title="편집...">
                                    <i class="fas fa-pen" (click)="showEdit(thisImage.name, thisImage.namespace)"></i>
                                </a>
                                <!--- DELETE BUTTON -->
                                <a class="btn" (click)="showDelete(thisImage.name, thisImage.namespace)" title="삭제...">
                                    <i class="fas fa-trash" (click)="showDelete(thisImage.name, thisImage.namespace)"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>


      <!--            -->
      <!-- Modal: New -->
      <!--            -->
      <div class="modal fade" id="modal-new" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="new-title">TITLE_TEMPLATE</h4>
                    <button type="button" class="close" (click)='hideComponent("modal-new")'>
                    <span aria-hidden="true">×</span>
                    </button>
                </div>
                <input type="hidden" id="new-node" name="new-node" value="">
                <div class="modal-body" id="new-value">
                    <label for="newimagename">이름:</label>
                    <input #newimagename type="text" class="form-control" id="new-image-name" name="new-image-name" placeholder="name">
                    <label for="newimagenamespace">네임스페이스:</label>
                    <select #newimagenamespace class="custom-select rounded-0" name="new-image-namespace" id="new-image-namespace">
                        <option>Value 1</option>
                    </select>
                    <label for="newimagereadablename">읽기 쉬운 이름:</label>
                    <input #newimagereadablename type="text" class="form-control" id="new-image-readablename" name="new-image-readablename" placeholder="이미지의 읽기 쉬운 이름">
                    <label for="newimagereadabledescription">설명:</label>
                    <input #newimagereadabledescription type="text" class="form-control" id="new-image-readabledescription" name="new-image-readabledescription" placeholder="이미지에 대한 선택적 설명">
                    <label for="newimagetype">유형:</label>
                    <select #newimagetype class="custom-select rounded-0" name="new-image-type" id="new-image-type" (change)="onChangeImageType(newimagetype.value)">
                        <option value="http">HTTP(s)</option>
                        <option value="registry">레지스트리</option>
                        <option value="gcs">GCS</option>
                        <option value="s3">S3</option>
                        <option value="pvc">PVC</option>
                    </select>
                    <input #newimagecredentials type="hidden" value="">
                    <label for="newimagevalue">값:</label>
                    <input #newimagevalue type="text" class="form-control" id="new-image-value" name="new-image-value" placeholder="http(s)://example.com/image-file.qcow2.gz">
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" (click)='hideComponent("modal-new")'>닫기</button>
                    <button type="button" class="btn btn-primary" (click)="applyNew(newimagename.value, newimagenamespace.value , newimagetype.value, newimagecredentials.value, newimagereadablename.value, newimagereadabledescription.value, newimagevalue.value)">생성</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!--               -->
    <!-- Modal: Delete -->
    <!--               -->
    <div class="modal fade" id="modal-delete" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="delete-title">TITLE_TEMPLATE</h4>
                <button type="button" class="close" (click)='hideComponent("modal-delete")'>
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <input type="hidden" id="delete-namespace" name="delete-namespace" value="">
            <input type="hidden" id="delete-name" name="delete-name" value="">
            <div class="modal-body" id="delete-value">
                <p>BODY_TEMPLATE</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" (click)='hideComponent("modal-delete")'>닫기</button>
                <button type="button" class="btn btn-danger" (click)="applyDelete()">삭제</button>
            </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <!--             -->
    <!-- Modal: Info -->
    <!--             -->
    <div class="modal fade" id="modal-info" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="info-title">TITLE_TEMPLATE</h4>
                <button type="button" class="close" (click)='hideComponent("modal-info")'>
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="info-value">
                <ul class="nav flex-column" id="info-cards">
                    TEMPLATE
                </ul>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-default" (click)='hideComponent("modal-info")'>닫기</button>
            </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <!--               -->
    <!-- Modal: EDIT   -->
    <!--               -->
    <div class="modal fade" id="modal-edit" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="edit-title">TITLE_TEMPLATE</h4>
                <button type="button" class="close" (click)='hideComponent("modal-edit")'>
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="edit-value">
                <div class="form-group">
                    <input type="hidden" id="image-namespace" name="image-namespace" value="">
                    <input type="hidden" id="image-name" name="image-name" value="">
                    <input type="hidden" id="image-type" name="image-type" value="">
                    <label for="image-readable-name">이미지 읽기 쉬운 이름</label>
                    <input #imagereadablename type="text" class="form-control" id="image-readable-name" name="image-readable-name" placeholder="읽기 쉬운 이름">
                    <label for="image-description">설명</label>
                    <input #imagedescription type="text" class="form-control" id="image-description" name="image-description" placeholder="이미지 설명">
                    <label for="image-value">값</label>
                    <input #imagevalue type="text" class="form-control" id="image-value" name="image-value" placeholder="0">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" (click)='hideComponent("modal-edit")'>닫기</button>
                <button type="button" class="btn btn-primary" (click)='applyEdit(imagereadablename.value, imagedescription.value, imagevalue.value)'>저장</button>
            </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    </div>
  </div>


