<div class="content">
    <div class="container-fluid">
      <div class="content-wrapper">
        &nbsp;<br>
        <div class="card card-outline">
          <div class="card-header">
            <h3 class="card-title">
                <b> &nbsp; {{activeVm.name}} &nbsp; </b>
            </h3>
            <div class="card-tools">
                <!--- PAUSE BUTTON -->
                <span [ngSwitch]="activeVm.printableStatus">
                    <a class="btn" (click)='vmOperations("pause", activeVm.namespace, activeVm.name)' title="일시 정지..." *ngSwitchCase="'running'">
                        <i class="fas fa-pause"></i>
                    </a>
                    <a class="btn disabled" (click)='vmOperations("pause", activeVm.namespace, activeVm.name)' title="일시 정지..." *ngSwitchDefault>
                        <i class="fas fa-pause disabled"></i>
                    </a>
                </span>
                <!--- PLAY BUTTON -->
                <span [ngSwitch]="activeVm.printableStatus">
                    <a class="btn" (click)='vmOperations("unpause", activeVm.namespace, activeVm.name)' title="재개..." *ngSwitchCase="'paused'">
                        <i class="fas fa-play"></i>
                    </a>
                    <a class="btn disabled" (click)='vmOperations("unpause", activeVm.namespace, activeVm.name)' title="재개..." *ngSwitchDefault>
                        <i class="fas fa-play disabled"></i>
                    </a>
                </span>
                <!--- POWER ON BUTTON -->
                <span [ngSwitch]="activeVm.running">
                    <a class="btn disabled" (click)='vmOperations("start", activeVm.namespace, activeVm.name)' title="전원 켜기..." *ngSwitchCase="true">
                        <i class="fas fa-plug disabled"></i>
                    </a>
                    <a class="btn" (click)='vmOperations("start", activeVm.namespace, activeVm.name)' title="전원 켜기..." *ngSwitchDefault>
                        <i class="fas fa-plug"></i>
                    </a>
                </span>
                <!--- POWER OFF BUTTON -->
                <span [ngSwitch]="activeVm.running">
                    <a class="btn" (click)='vmOperations("stop", activeVm.namespace, activeVm.name)' title="전원 끄기..." *ngSwitchCase="true">
                        <i class="fas fa-power-off"></i>
                    </a>
                    <a class="btn disabled" (click)='vmOperations("stop", activeVm.namespace, activeVm.name)' title="전원 끄기..." *ngSwitchDefault>
                        <i class="fas fa-power-off disabled"></i>
                    </a>
                </span>
                <!--- RESTART BUTTON -->
                <span [ngSwitch]="activeVm.running">
                    <a class="btn" (click)='vmOperations("reboot", activeVm.namespace, activeVm.name)' title="재시작..." *ngSwitchCase="true">
                        <i class="fas fa-redo"></i>
                    </a>
                    <a class="btn disabled" (click)='vmOperations("reboot", activeVm.namespace, activeVm.name)' title="재시작..." *ngSwitchDefault>
                        <i class="fas fa-redo disabled"></i>
                    </a>
                </span>
                <!--- LIVEMIGRATE BUTTON -->
                <span [ngSwitch]="activeVm.running">
                    <a class="btn" (click)='vmOperations("migrate", activeVm.namespace, activeVm.name)' title="라이브 마이그레이션..." *ngSwitchCase="true">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                    <a class="btn disabled" (click)='vmOperations("migrate", activeVm.namespace, activeVm.name)' title="라이브 마이그레이션..." *ngSwitchDefault>
                        <i class="fas fa-angle-double-right disabled"></i>
                    </a>
                </span>
            </div>
          </div>
          <div class="card-body">
            <div class="card">
                <div class="card-header p-2">
                  <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#overview" data-toggle="tab">개요</a></li>
                    <li class="nav-item"><a class="nav-link" href="#details" data-toggle="tab">세부 정보</a></li>
                    <li class="nav-item"><a class="nav-link" href="#networking" data-toggle="tab">네트워킹</a></li>
                    <li class="nav-item"><a class="nav-link" href="#disks" data-toggle="tab">디스크</a></li>
                    <li class="nav-item"><a class="nav-link" href="#logging" data-toggle="tab">로그</a></li>
                    <li class="nav-item"><a class="nav-link" href="#vmmonitoring" data-toggle="tab" *ngIf="promCheck">모니터링</a></li>
                    <li class="nav-item"><a class="nav-link" href="#vmserial" data-toggle="tab">시리얼</a></li>
                    <li class="nav-item"><a class="nav-link" href="#vmconsole" data-toggle="tab">콘솔</a></li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <!-- Overview -->
                    <div class="active tab-pane" id="overview">
                       <dt>메타데이터</dt>
                       <br>
                       <dd>이름: {{activeVm.name}} </dd>
                       <dd>네임스페이스: {{activeVm.namespace}} </dd>
                       <dd>레이블:</dd>
                       <ul *ngFor="let thisLabel of activeVm.labels | keyvalue">
                           <li>{{thisLabel.key}} : {{thisLabel.value}}</li>
                       </ul>
                       <hr>
                       <dt>사양
                           <a class="btn float-right" title="편집...">
                           <i class="fas fa-pen" (click)="showRunStrategy()"></i>
                      </a>
                       </dt>
                       <br>
                       <dd>실행 전략: {{activeVm.runStrategy}} </dd>
                       <hr>
                       <dt>상태</dt>
                       <br>
                       <dd>실행 중: {{activeVm.running}} </dd>
                       <dd>상태: {{activeVm.printableStatus}}</dd>
                       <dd>생성일: {{activeVm.creationTimestamp}} </dd>
                    </div>
                    <!-- Details -->
                    <div class="tab-pane" id="details">
                        <!-- Custom VM -->
                        <div *ngIf="customTemplate; else vmTemplated">
                          <dt>
                            일반 하드웨어
                            <a class="btn float-right" title="편집...">
                                <i class="fas fa-pen" (click)="showResize(activeVm.sockets, activeVm.cores, activeVm.threads, activeVm.memory)"></i>
                            </a>
                          </dt>
                          <br>
                          <dd>인스턴스 유형: {{activeVm.instType}} </dd>
                          <dd>CPU 소켓: {{activeVm.sockets || 0}} </dd>
                          <dd>CPU 코어: {{activeVm.cores || 0}} </dd>
                          <dd>CPU 스레드: {{activeVm.threads || 0}} </dd>
                          <dd>전체 VM 메모리: {{activeVm.memory}} </dd>
                          <dd>펌웨어: {{activeVm.firmware}} </dd>
                          <dd>보안 부팅: {{activeVm.secureBoot}} </dd>
                       </div>
                       <!-- Templated VM -->
                       <ng-template #vmTemplated>
                          <dt>
                            일반 하드웨어
                            <a class="btn float-right" title="편집...">
                                <i class="fas fa-pen" (click)="showType()"></i>
                            </a>
                          </dt>
                          <br>
                          <dd>인스턴스 유형: {{activeVm.instType}} </dd>
                          <dd>전체 vCPU: {{activeVm.cores * activeVm.sockets * activeVm.threads || 0}}</dd>
                          <dd>전체 VM 메모리: {{activeVm.memory}} </dd>
                          <dd>펌웨어: {{activeVm.firmware}} </dd>
                          <dd>보안 부팅: {{activeVm.secureBoot}} </dd>
                       </ng-template>
                       <hr>
                       <div *ngIf="activeVm.vmi.running">
                            <dt>
                                인스턴스 정보
                            </dt>
                            <br>
                            <dd>운영 체제 ID: {{activeVm.vmi.osId}} </dd>
                            <dd>운영 체제 이름: {{activeVm.vmi.osName}} - {{activeVm.vmi.osPrettyName}}</dd>
                            <dd>운영 체제 버전: {{activeVm.vmi.osVersion}} </dd>
                            <dd>운영 체제 커널: {{activeVm.vmi.osKernRel}} - {{activeVm.vmi.osKernVer}} </dd>
                            <hr>
                       </div>
                       <dt>
                        실행
                        <!--<a class="btn float-right" title="편집...">
                            <i class="fas fa-pen" (click)="showPc()"></i>
                        </a>-->
                       </dt>
                       <br>
                       <dd>우선순위 클래스: {{activeVm.priorityClass}}</dd>
                       <hr>
                    </div>
                    <!-- Networking -->
                    <div class="tab-pane" id="networking">
                       <dt>네트워킹</dt>
                       <br>
                       <div class="card" *ngFor="let actualNet of activeVm.networkList">
                            <div class="card-header">
                                <div class="card-title">
                                    <i class="fas fa-network-wired"></i>&nbsp;&nbsp;{{actualNet.name}}
                                </div>
                            </div>
                            <div class="card-body">
                                    <li>이름: {{actualNet.name}}</li>
                                    <li>유형: {{actualNet.type}}</li>
                                    <li>드라이버: {{actualNet.driver}}</li>
                                    <li>네트워크: {{actualNet.network}}</li>
                                    <li>IP 주소: {{actualNet.ip}}</li>
                            </div>
                       </div>
                    </div>
                    <!-- Disks -->
                    <div class="tab-pane" id="disks">
                       <dt>
                            디스크
                            <a class="btn float-right" title="핫플러그...">
                                <i class="fas fa-plus" (click)="showHotplug()"></i>
                            </a>

                            <span [ngSwitch]="activeVm.running">
                              <a class="btn float-right disabled" title="편집..." *ngSwitchCase="true">
                                <i class="fas fa-pen disabled" (click)="showDisk()"></i>
                              </a>
                              <a class="btn float-right" title="편집..." *ngSwitchDefault>
                                <i class="fas fa-pen" (click)="showDisk()"></i>
                              </a>
                             </span>

                        </dt>
                       <br>
                       <div class="card" *ngFor="let actualDisk of activeVm.diskList">
                            <div class="card-header">
                                <div class="card-title">
                                    <i class="fas fa-hdd"></i>&nbsp;&nbsp;{{actualDisk.name}}
                                </div>
                                <div class="card-tools">
                                    <a class="btn btn-tool" title="언플러그..." *ngIf="actualDisk.hotplug">
                                        <i class="fas fa-minus" (click)="showUnplug(actualDisk.name)"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <li>이름: {{actualDisk.name}} </li>
                                <li>네임스페이스: {{actualDisk.namespace}} </li>
                                <li>유형: {{actualDisk.type}} </li>
                                <li>BUS: {{actualDisk.bus}} </li>
                                <li>백엔드: {{actualDisk.backend}} </li>
                                <li>데이터 볼륨 이름: {{actualDisk.dataVolume.name}} </li>
                                <li>데이터 볼륨 네임스페이스: {{actualDisk.dataVolume.namespace}} </li>
                                <li>데이터 볼륨 소스 유형: {{actualDisk.dataVolume.source}} </li>
                                <li>데이터 볼륨 소스 값: {{actualDisk.dataVolume.sourceValue}} </li>
                                <li>접근 모드: {{actualDisk.accessMode}}</li>
                                <li>캐시 모드: {{actualDisk.cacheMode}} </li>
                                <li>부팅 순서: {{actualDisk.bootOrder}} </li>
                                <li>용량: {{actualDisk.size}} </li>
                                <li>스토리지 클래스: {{actualDisk.storageClass}}</li>
                                <li>핫플러그됨: {{actualDisk.hotplug}}</li>
                            </div>
                       </div>
                    </div>
                    <!-- VM Logging -->
                    <div class="tab-pane" id="logging">
                        <dt>로그</dt>
                        <br>
                        <div id="log-viewer" class="log-viewer">
                            <div id="log-stream" class="log-stream">
                                <span *ngFor="let message of newConsoleMessages" [style]="message.style" [innerHtml]="message.text">
                                </span>
                            </div>
                        </div>
                     </div>
                    <!-- VM Monitoring -->
                    <div class="tab-pane" id="vmmonitoring">
                       <dt>모니터링</dt>
                       <br>
                       <!-- PROMETHEUS: CPU -->
                       <div class="row">
                         <div class="col-lg-6 col-6">
                            <div class="card">
                                <div class="card-header border-0">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="card-title">CPU 사용량</h3>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="position-relative"><div class="chartjs-size-monitor">
                                        <div class="chart-container">
                                            <canvas  id="CpuChart" >{{ cpuChart }}</canvas>
                                        </div>
                                    </div></div>
                                </div>
                            </div>
                         </div>
                         <!-- PROMETHEUS: MEMORY -->
                         <div class="col-lg-6 col-6">
                            <div class="card">
                                <div class="card-header border-0">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="card-title">메모리 사용량</h3>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="position-relative"><div class="chartjs-size-monitor">
                                        <div class="chart-container">
                                            <canvas  id="MemChart" >{{ memChart }}</canvas>
                                        </div>
                                    </div></div>
                                </div>
                            </div>
                         </div>
                       </div>
                       <!-- PROMETHEUS: STORAGE -->
                       <div class="row">
                        <div class="col-lg-6 col-6">
                           <div class="card">
                               <div class="card-header border-0">
                                   <div class="d-flex justify-content-between">
                                       <h3 class="card-title">스토리지 사용량</h3>
                                   </div>
                               </div>
                               <div class="card-body">
                                   <div class="position-relative"><div class="chartjs-size-monitor">
                                       <div class="chart-container">
                                           <canvas  id="StgChart" >{{ stgChart }}</canvas>
                                       </div>
                                   </div></div>
                               </div>
                           </div>
                        </div>
                        <!-- PROMETHEUS: NET -->
                        <div class="col-lg-6 col-6">
                           <div class="card">
                               <div class="card-header border-0">
                                   <div class="d-flex justify-content-between">
                                       <h3 class="card-title">네트워크 사용량</h3>
                                   </div>
                               </div>
                               <div class="card-body">
                                   <div class="position-relative"><div class="chartjs-size-monitor">
                                       <div class="chart-container">
                                           <canvas  id="NetChart" >{{ netChart }}</canvas>
                                       </div>
                                   </div></div>
                               </div>
                           </div>
                        </div>
                      </div>
                    </div>
                    <!-- VM Serial -->
                    <div class="tab-pane" id="vmserial">
                      <iframe id="xtermfram" width="60%" height="100%" frameBorder="0" style="height: 360px; width: 680px" [src]="urlSafeXterm"></iframe>
                    </div>
                    <!-- VM Console -->
                    <div class="tab-pane" id="vmconsole">
                        <iframe id="vncframe" width="100%" height="100%" frameBorder="0" style="height: 600px" [src]="urlSafeVnc"></iframe>
                        <br>
                        <p><a href="#" (click)='openNoVNC()' title="콘솔 열기...">전체 noVNC 클라이언트 열기</a></p>
                    </div>
                  </div>
                </div>
              </div>

          </div>
          <!-- /.card-body -->
        </div>
      </div>

    <!--                           -->
    <!-- Modal: Change RunStrategy -->
    <!--                           -->
    <div class="modal fade" id="modal-runstrategy" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="type-title">실행 전략: {{activeVm.namespace}} - {{activeVm.name}}</h4>
            <button type="button" class="close" (click)='hideComponent("modal-runstrategy")'>
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body" id="type-value">
            <label for="newType">실행 전략:</label>
            <select #changevmrunstrategy class="custom-select rounded-0" name="changevm-runstrategy" id="changevm-runstrategy">
              <option value="Always">Always</option>
              <option value="Halted">Halted</option>
              <option value="Manual">Manual</option>
              <option value="Once">Once</option>
              <option value="RerunOnFailure">RerunOnFailure</option>
            </select>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" (click)='hideComponent("modal-runstrategy")'>닫기</button>
            <button type="button" class="btn btn-primary" (click)="applyStrategy(changevmrunstrategy.value)">변경 사항 저장</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <!--                    -->
    <!-- Modal: Change Type -->
    <!--                    -->
    <div class="modal fade" id="modal-type" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="type-title">유형: {{activeVm.namespace}} - {{activeVm.name}}</h4>
              <button type="button" class="close" (click)='hideComponent("modal-type")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="type-value">
              <label for="newType">가상 머신 VM 유형:</label>
              <select #changevmtype class="custom-select rounded-0" name="changevm-type" id="changevm-type">
                  <option>Value 1</option>
              </select>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-type")'>닫기</button>
              <button type="button" class="btn btn-primary" (click)="applyType(changevmtype.value)">변경 사항 저장</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!--                -->
    <!-- Modal: Hotplug -->
    <!--                -->
    <div class="modal fade" id="modal-hotplug" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="hotplug-title">핫플러그: {{activeVm.namespace}} - {{activeVm.name}}</h4>
              <button type="button" class="close" (click)='hideComponent("modal-hotplug")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="hotplug-value">
              <label for="hotplugVolume">볼륨:</label>
              <select #hotplugvolume class="custom-select rounded-0" name="hotplug-volume" id="hotplug-volume">
                  <option>Value 1</option>
              </select>
              <label for="hotplugType">유형:</label>
              <select #hotplugtype class="custom-select rounded-0" name="hotplug-type" id="hotplug-type">
                  <option selected value=disk>디스크</option>
                  <!-- <option value=cdrom>CDROM</option> not supported yet -->
                  <option value=lun>LUN</option>
              </select>
              <label for="hotplugCache">유형:</label>
              <select #hotplugcache class="custom-select rounded-0" name="hotplug-cache" id="hotplug-cache">
                  <option selected value=none>캐시 없음</option>
                  <option value=writethrough>캐시 쓰기 투과</option>
                  <option value=writeback>캐시 쓰기 백</option>
              </select>
              <label for="hotplugReadOnly">읽기 전용:</label>
              <select #hotplugreadonly class="custom-select rounded-0" name="hotplug-readonly" id="hotplug-readonly">
                <option selected value="no">아니오</option>
                <option value="yes">예</option>
            </select>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-hotplug")'>닫기</button>
              <button type="button" class="btn btn-primary" (click)="applyHotplug(hotplugvolume.value, hotplugtype.value, hotplugcache.value, hotplugreadonly.value)">연결</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!--                      -->
    <!-- Modal: Unplug Volume -->
    <!--                      -->
    <div class="modal fade" id="modal-unplug" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="unplug-title">볼륨 언플러그</h4>
              <button type="button" class="close" (click)='hideComponent("modal-unplug")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <input type="hidden" id="unplug-volume" name="unplug-volume" value="">
            <div class="modal-body" id="unplug-value">
              <p>BODY_TEMPLATE</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-unplug")'>닫기</button>
              <button type="button" class="btn btn-danger" (click)='applyUnplug()'>언플러그</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!--               -->
    <!-- Modal: Resize -->
    <!--               -->
    <div class="modal fade" id="modal-resize" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="resize-title">크기 조정: {{activeVm.namespace}} - {{activeVm.name}}</h4>
              <button type="button" class="close" (click)='hideComponent("modal-resize")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="resize-value">
              <label for="resize-sockets">소켓:</label>
              <input #resizeSockets type="number" class="form-control" id="resize-sockets" name="resize-sockets">
              <label for="resize-cores">코어:</label>
              <input #resizeCores type="number" class="form-control" id="resize-cores" name="resize-cores">
              <label for="resize-threads">스레드:</label>
              <input #resizeThreads type="number" class="form-control" id="resize-threads" name="resize-threas">
              <label for="resize-memory">메모리 (GB):</label>
              <input #resizeMemory type="number" class="form-control" id="resize-memory" name="resize-memory">
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-resize")'>닫기</button>
              <button type="button" class="btn btn-primary" (click)="applyResize(resizeSockets.value, resizeCores.value, resizeThreads.value, resizeMemory.value)">변경 사항 저장</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!--                  -->
    <!-- Modal: Edit Disk -->
    <!--                  -->
    <div class="modal fade" id="modal-disk" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="disk-title">디스크 편집: {{activeVm.namespace}} - {{activeVm.name}}</h4>
              <button type="button" class="close" (click)='hideComponent("modal-disk")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="disk-value">
              <form [formGroup]="diskList">
                <div formArrayName="disks">
                    <div class="card card-outline" *ngFor="let disk of disks.controls; let i = index" [formGroupName]="i">
                        <div class="card-body" style="display: block;">
                            <div class="row">
                                <div class="col-4" name="newvm-disk-type-col">
                                    <label for="editvm-diskname-{{i}}">이름:</label>
                                    <br>disk{{i}}
                                    <input #newvmdiskname type=hidden class="form-control" name="newvm-diskname-{{i}}" id="diskName-{{i}}" formControlName="diskName">
                                </div>
                                <div class="col-4">
                                    <label for="editvm-diskbus-{{i}}">BUS:</label>
                                    <select #newvmdiskbus class="custom-select rounded-0" name="newvm-diskbus-{{i}}" id="diskBus-{{i}}" formControlName="diskBus">
                                      <option value=""></option>
                                      <option value="virtio">virtio</option>
                                      <option value="sata">sata</option>
                                      <option value="scsi">scsi</option>
                                  </select>
                                </div>
                                <div class="col-4">
                                  <label for="newvm-bootorder-{{i}}">부팅 순서:</label>
                                  <input #newvmdiskbootorder type=number class="form-control" name="newvm-diskbootorder-{{i}}" id="diskBootOrder-{{i}}" formControlName="diskBootOrder">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-disk")'>닫기</button>
              <button type="button" class="btn btn-primary" (click)="applyDisk()">적용</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!--                       -->
    <!-- Modal: Priority Class -->
    <!--                       -->
    <div class="modal fade" id="modal-pc" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="type-title">우선순위 클래스: {{activeVm.namespace}} - {{activeVm.name}}</h4>
              <button type="button" class="close" (click)='hideComponent("modal-pc")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="type-value">
              <label for="newPriority">우선순위 클래스:</label>
              <select #changevmpc class="custom-select rounded-0" name="changevm-pc" id="changevm-pc">
                  <option>Value 1</option>
              </select>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-pc")'>닫기</button>
              <button type="button" class="btn btn-primary" (click)="applyPc(changevmpc.value)">변경 사항 저장</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    </div>
</div>
