<div class="content">
    <div class="container-fluid">
      <div class="content-wrapper">
        &nbsp;<br>
        <div class="card card-outline">
          <div class="card-header">
            <h3 class="card-title">
                <b> &nbsp; {{activePool.name}} &nbsp; </b>
            </h3>
          </div>
          <div class="card-body">
            <div class="card">
                <div class="card-header p-2">
                  <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#overview" data-toggle="tab">개요</a></li>
                    <li class="nav-item"><a class="nav-link" href="#template" data-toggle="tab">풀 템플릿</a></li>
                    <li *ngIf="hasClusterAutoscaler" class="nav-item"><a class="nav-link" href="#autoscaling" data-toggle="tab">자동 확장</a></li>
                    <li class="nav-item"><a class="nav-link" href="#virtualmachines" data-toggle="tab">인스턴스</a></li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <!-- Overview -->
                    <div class="active tab-pane" id="overview">
                       <dt>메타데이터</dt>
                       <br>
                       <dd>이름: {{activePool.name}} </dd>
                       <dd>네임스페이스: {{activePool.namespace}} </dd>
                       <dd>레이블:</dd>
                       <ul *ngFor="let thisLabel of activePool.labels | keyvalue">
                           <li>{{thisLabel.key}} : {{thisLabel.value}}</li>
                       </ul>
                       <hr>
                       <dt>
                        사양
                        <a class="btn float-right" (click)='showReplicas(activePool.namespace, activePool.name, activePool.replicas)' title="편집...">
                            <i class="fas fa-pen" (click)='showReplicas(activePool.namespace, activePool.name, activePool.replicas)'></i>
                        </a>
                      </dt>
                      <br>
                       <dd>원하는 레플리카: {{activePool.replicas}} </dd>
                       <dd>클러스터 이름: {{activePool.clusterName}} </dd>
                       <dd>쿠버네티스 버전: {{activePool.version}} </dd>
                       <hr>
                       <dt>상태</dt>
                       <br>
                       <dd>단계: {{activePool.phase}} </dd>
                       <dd>준비된 레플리카: {{activePool.readyReplicas}} </dd>
                       <dd>생성일: {{activePool.creationTimestamp}} </dd>
                    </div>
                    <!-- Template -->
                    <div class="tab-pane" id="template">
                        <!-- Custom VM -->
                        <div *ngIf="customTemplate; else vmTemplated">
                          <dt>
                            일반 하드웨어
                          </dt>
                          <br>
                          <dd>인스턴스 유형: {{activePool.machineTemplate.instType}} </dd>
                          <dd>CPU 소켓: {{activePool.machineTemplate.sockets}} </dd>
                          <dd>CPU 코어: {{activePool.machineTemplate.cores}} </dd>
                          <dd>CPU 스레드: {{activePool.machineTemplate.threads}} </dd>
                          <dd>전체 VM 메모리: {{activePool.machineTemplate.memory}} </dd>
                          <!-- BIOS / UEFI / Secure Boot
                          <br>
                          <dd>Firmware: {{activePool.machineTemplate.firmware}} </dd>
                          <dd>Secure Boot: {{activePool.machineTemplate.secureBoot}} </dd> 
                          -->
                       </div>
                       <!-- Templated VM -->
                       <ng-template #vmTemplated>
                          <dt>
                            일반 하드웨어
                          </dt>
                          <br>
                          <dd>인스턴스 유형: {{activePool.machineTemplate.instType}} </dd>
                          <dd>전체 vCPU: {{activePool.machineTemplate.cores}} </dd>
                          <dd>전체 VM 메모리: {{activePool.machineTemplate.memory}} </dd>
                          <!-- BIOS / UEFI / Secure Boot
                          <br>
                          <dd>Firmware: {{activePool.machineTemplate.firmware}} </dd>
                          <dd>Secure Boot: {{activePool.machineTemplate.secureBoot}} </dd> 
                          -->
                       </ng-template>
                       <hr>
                       <dt>
                        실행
                       </dt>
                       <br>
                       <dd>우선순위 클래스: {{activePool.machineTemplate.priorityClass}} </dd>
                       <hr>
                       <dt>
                        네트워킹
                       </dt>
                       <br>
                       <dd>NIC: {{poolNetwork.name}}</dd>
                       <dd>NIC 유형: {{poolNetwork.type}}</dd>
                       <dd>네트워크: {{poolNetwork.network}}</dd>
                       <hr>
                       <dt>디스크</dt>
                       <br>
                       <div *ngIf="hasDisk1">
                            <dd>디스크 1:</dd>
                            <ul>
                                <li>이름: {{disk1Info.name}} </li>
                                <li>네임스페이스: {{disk1Info.namespace}} </li>
                                <li>유형: {{disk1Info.type}} </li>
                                <li>백엔드: {{disk1Info.backend}} </li>
                                <li>데이터 볼륨 이름: {{disk1Info.dataVolumeName}} </li>
                                <li>데이터 볼륨 네임스페이스: {{disk1Info.dataVolumeNamespace}} </li>
                                <li>소스 유형: {{disk1Info.dataVolumeSource}} </li>
                                <li>소스 값: {{disk1Info.dataVolumeSourceValue}} </li>
                                <li>접근 모드: {{disk1Info.accessMode}}</li>
                                <li>캐시 모드: {{disk1Info.cacheMode || ""}} </li>
                                <li>용량: {{disk1Info.capacity}} </li>
                                <li>스토리지 클래스: {{disk1Info.storageClass}}</li>
                            </ul>
                       </div>
                       <div *ngIf="hasDisk2">
                            <dd>디스크 2:</dd>
                            <ul>
                                <li>이름: {{disk2Info.name}} </li>
                                <li>네임스페이스: {{disk2Info.namespace}} </li>
                                <li>유형: {{disk2Info.type}} </li>
                                <li>백엔드: {{disk2Info.backend}} </li>
                                <li>데이터 볼륨 이름: {{disk2Info.dataVolumeName}} </li>
                                <li>데이터 볼륨 네임스페이스: {{disk2Info.dataVolumeNamespace}} </li>
                                <li>소스 유형: {{disk2Info.dataVolumeSource}} </li>
                                <li>소스 값: {{disk2Info.dataVolumeSourceValue}} </li>
                                <li>접근 모드: {{disk2Info.accessMode}}</li>
                                <li>캐시 모드: {{disk2Info.cacheMode || ""}} </li>
                                <li>용량: {{disk2Info.capacity}} </li>
                                <li>스토리지 클래스: {{disk2Info.storageClass}}</li>
                            </ul>
                       </div>
                    </div>
                    <!-- Autoscaling -->
                    <div class="tab-pane" id="autoscaling">
                       <div>
                          <dt>
                            일반 설정
                            <a class="btn float-right" (click)='showAutoscaling(activePool.namespace, activePool.name, activePool.minReplicas, activePool.maxReplicas)' title="편집...">
                                <i class="fas fa-pen" (click)='showAutoscaling(activePool.namespace, activePool.name, activePool.minReplicas, activePool.maxReplicas)'></i>
                            </a>
                          </dt>
                          <br>
                          <dd>최소 노드: {{activePool.minReplicas}}</dd>
                          <dd>최대 노드: {{activePool.maxReplicas}}</dd>
                       </div>
                    </div>
                    <!-- Virtual Mahcines -->
                    <div class="tab-pane" id="virtualmachines">  
                        <table class="table table-sm" style="vertical-align: middle !important;">
                            <thead>
                                <tr>
                                <th style="width: 10px">&nbsp;</th>
                                <th style="width: 140px">가상 머신</th>
                                <th style="width: 60px">노드</th>
                                <th style="width: 50px">상태</th>
                                <th style="width: 50px">IP 주소</th>
                                <th style="width: 50px">준비됨</th>
                                <th style="width: 180px">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let thisVM of allWorkers">
                                    <td style="line-height: 2.2 !important; align-content: center;">
                                    <span>
                                        <span>
                                        <span class="badge"><i class="fas fa-hdd"></i></span>
                                        </span>
                                    </span>
                                    </td>
                                    <td style="line-height: 2.2 !important;"><a class="btn" routerLink="/vmdetail/{{thisVM.namespace}}/{{thisVM.name}}" title="VM 세부정보...">{{thisVM.name}}</a></td>
                                    <td style="line-height: 2.2 !important;"><a class="btn" routerLink="/vmdetail/{{thisVM.namespace}}/{{thisVM.name}}" title="VM 세부정보...">{{thisVM.nodeSel}}</a></td>
                                    <td style="line-height: 2.2 !important;"><a class="btn" routerLink="/vmdetail/{{thisVM.namespace}}/{{thisVM.name}}" title="VM 세부정보...">{{thisVM.status}}</a></td>
                                    <td style="line-height: 2.2 !important;">
                                    <span [ngSwitch]="thisVM.status">
                                        <span *ngSwitchCase="'running'">
                                            <a class="btn" routerLink="/vmdetail/{{thisVM.namespace}}/{{thisVM.name}}" title="VM 세부정보...">{{thisVM.vmi.ifAddr}}</a>
                                        </span>
                                        <span *ngSwitchDefault>
                                            <a class="btn" routerLink="/vmdetail/{{thisVM.namespace}}/{{thisVM.name}}" title="VM 세부정보...">&nbsp;</a>
                                        </span>
                                    </span>
                                    </td>
                                    <td style="line-height: 2.2 !important;"><a class="btn" routerLink="/vmdetail/{{thisVM.namespace}}/{{thisVM.name}}" title="VM 세부정보...">{{thisVM.ready}}</a></td>
                                    <td style="line-height: 0 !important;">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" href="#" aria-expanded="false">작업</button>
                                            <div class="dropdown-menu">
                                                <!--- INFO BUTTON -->
                                                <span>
                                                    <a class="btn" routerLink="/vmdetail/{{thisVM.namespace}}/{{thisVM.name}}" title="정보 보기...">
                                                        <i class="fas fa-info"></i>
                                                    </a>
                                                </span>
                                                <!--- VNC BUTTON -->
                                                <span [ngSwitch]="thisVM.status">
                                                    <a class="btn" (click)='openNoVNC(thisVM.namespace, thisVM.name)' title="콘솔 열기..." *ngSwitchCase="'running'">
                                                        <i class="fas fa-desktop"></i>
                                                    </a>
                                                    <a class="btn disabled" (click)='openNoVNC(thisVM.namespace, thisVM.name)' title="콘솔 열기..." *ngSwitchDefault>
                                                        <i class="fas fa-desktop disabled"></i>
                                                    </a>
                                                </span>
                                                <!--- POWER ON BUTTON -->
                                                <span [ngSwitch]="thisVM.running">
                                                    <a class="btn disabled" (click)='vmOperations("start", thisVM.namespace, thisVM.name)' title="전원 켜기..." *ngSwitchCase="true">
                                                        <i class="fas fa-plug disabled"></i>
                                                    </a>
                                                    <a class="btn" (click)='vmOperations("start", thisVM.namespace, thisVM.name)' title="전원 켜기..." *ngSwitchDefault>
                                                        <i class="fas fa-plug"></i>
                                                    </a>
                                                </span>
                                                <!--- POWER OFF BUTTON -->
                                                <span [ngSwitch]="thisVM.running">
                                                    <a class="btn" (click)='vmOperations("stop", thisVM.namespace, thisVM.name)' title="전원 끄기..." *ngSwitchCase="true">
                                                        <i class="fas fa-power-off"></i>
                                                    </a>
                                                    <a class="btn disabled" (click)='vmOperations("stop", thisVM.namespace, thisVM.name)' title="전원 끄기..." *ngSwitchDefault>
                                                        <i class="fas fa-power-off disabled"></i>
                                                    </a>
                                                </span>
                                                <!--- RESTART BUTTON -->
                                                <span [ngSwitch]="thisVM.running">
                                                    <a class="btn" (click)='vmOperations("reboot", thisVM.namespace, thisVM.name)' title="재시작..." *ngSwitchCase="true">
                                                        <i class="fas fa-redo"></i>
                                                    </a>
                                                    <a class="btn disabled" (click)='vmOperations("reboot", thisVM.namespace, thisVM.name)' title="재시작..." *ngSwitchDefault>
                                                        <i class="fas fa-redo disabled"></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>


      <!--                 -->
      <!-- Modal: Replicas -->
      <!--                 -->
      <div class="modal fade" id="modal-wp-replicas" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="replicas-wp-title">Scale: pool-namespace - pool-name</h4>
              <button type="button" (click)='hideComponent("modal-wp-replicas")' class="close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="replicas-wp-value">
              <div class="form-group">
                <input type="hidden" id="replicas-wp-namespace" name="replicas-wp-namespace" value="">
                <input type="hidden" id="replicas-wp-name" name="replicas-wp-name" value="">
                <label for="replicasInput">새 레플리카 수</label>
                <input #replicasinput type="number" class="form-control" id="replicas-wp-input" name="replicas-wp-input" placeholder="0">
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" (click)='hideComponent("modal-wp-replicas")' class="btn btn-default">닫기</button>
              <button type="button" class="btn btn-primary" (click)='applyReplicas(replicasinput.value)'>크기 조정</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div> 


      <!--                     -->
      <!-- Modal: Autoscaling  -->
      <!--                     -->
      <div class="modal fade" id="modal-wp-autoscaling" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="autoscaling-wp-title">Autoscaling: pool-namespace - pool-name</h4>
              <button type="button" (click)='hideComponent("modal-wp-autoscaling")' class="close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="autoscaling-wp-value">
                <div class="form-group">
                  <input type="hidden" id="autoscaling-wp-namespace" name="replicas-wp-namespace" value="">
                  <input type="hidden" id="autoscaling-wp-name" name="replicas-wp-name" value="">
                  <label for="minwpinput">최소 노드:</label>
                  <input #minwpinput type="number" class="form-control" id="min-wp-input" name="min-wp-input" placeholder="0">
                  <label for="maxwpinput">최대 노드:</label>
                  <input #maxwpinput type="number" class="form-control" id="max-wp-input" name="max-wp-input" placeholder="0">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" (click)='hideComponent("modal-wp-autoscaling")' class="btn btn-default">닫기</button>
                <button type="button" class="btn btn-primary" (click)='applyAutoscaling(minwpinput.value, maxwpinput.value)'>적용</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

      <!--                           -->
      <!-- Modal: Config Worker Pool -->
      <!--                           -->
      <div class="modal fade" id="modal-config-wp" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="config-wp-title">TITLE_TEMPLATE</h4>
              <button type="button" class="close" (click)='hideComponent("modal-config-wp")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="config-wp-value">
                        <label for="config-wp-type">가상 머신 유형:</label>
                        <select #configwptype class="custom-select rounded-0" name="config-wp-type" id="config-wp-type">
                          <option>Value 1</option>
                        </select>
                        <div class="pane fade" id="config-wp-memory" name="config-wp-memory" style="display: none;" aria-hidden="true">
                          <label for="config-wpumem-sockets">소켓:</label>
                          <input #configwpcpumemsockets type="number" class="form-control" id="config-wpumem-sockets" name="config-wpumem-sockets">
                          <label for="config-wpumem-cores">코어:</label>
                          <input #configwpcpumemcores type="number" class="form-control" id="config-wpumem-cores" name="config-wpumem-cores">
                          <label for="config-wpumem-threads">스레드:</label>
                          <input #configwpcpumemthreads type="number" class="form-control" id="config-wpumem-threads" name="config-wpumem-threads">
                          <label for="config-wpumem-memory">메모리 (GB):</label>
                          <input #configwpcpumemmemory type="number" class="form-control" id="config-wpumem-memory" name="config-wpumem-memory">
                        </div>
                        <label for="config-wp-priorityclass">우선순위 클래스:</label>
                        <select #configwppc class="custom-select rounded-0" name="config-wp-pc" id="config-wp-pc">
                          <option>Value 1</option>
                        </select>
                        <label for="config-wp-disk">부팅 디스크</label>
                        <div class="row">
                            <div class="col-3">
                                <label for="config-wp-disksize">크기 (GB):</label>
                                <input #configwpdisksize type=number class="form-control" name="config-wp-disksize" id="config-wp-disksize" placeholder="100">
                            </div>
                            <div class="col-3">
                                <label for="config-wp-disksc">스토리지 클래스:</label>
                                <select #configwpdisksc class="custom-select rounded-0" name="config-wp-disksc" id="config-wp-disksc">
                                </select>
                            </div>
                            <div class="col-3">
                                <label for="config-wp-diskam">접근 모드:</label>
                                <select #configwpdiskam class="custom-select rounded-0" name="config-wp-diskam" id="config-wp-diskam">
                                    <option>ReadWriteOnce</option>
                                    <option>ReadOnlyMany</option>
                                    <option>ReadWriteMany</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <label for="config-wp-diskcm">캐시 모드:</label>
                                <select #configwpdiskcm class="custom-select rounded-0" name="config-wp-diskcm" id="config-wp-diskcm">
                                  <option value="">자동</option>
                                  <option value="none">없음</option>
                                  <option value="writethrough">쓰기 투과</option>
                                  <option value="writeback">쓰기 백</option>
                                </select>
                            </div>
                        </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-config-wp")'>닫기</button>
              <button type="button" class="btn btn-primary">적용</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

    </div>
</div>