<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img class="brand-image img-circle elevation-3" src="assets/logo-transparent.png" alt="kubevirt-manager Logo" style="opacity: .8" width="50" height="50">
    <span class="brand-text font-weight-light">kubevirt-manager</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

  <!-- Menubar -->
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a routerLink="/" class="nav-link" alt="#" title="대시보드...">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>대시보드</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/vmlist" class="nav-link" alt="#" title="가상 머신...">
            <i class="nav-icon fas fa-desktop"></i>
            <p>가상 머신</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/vmpools" class="nav-link" alt="#" title="가상 머신 풀...">
            <i class="nav-icon fas fa-server"></i>
            <p>VM 풀</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/autoscale" class="nav-link" alt="#" title="자동 확장...">
            <i class="nav-icon fas fa-expand-alt"></i>
            <p>자동 확장</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="capkCheck">
          <a routerLink="/kcluster" class="nav-link" alt="#" title="클러스터...">
            <i class="nav-icon fas fa-cubes"></i>
            <p>클러스터</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/nodelist" class="nav-link" alt="#" title="노드...">
            <i class="nav-icon fas fa-hdd"></i>
            <p>노드</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="cdiCheck">
          <a routerLink="/dsklist" class="nav-link" alt="#" title="디스크...">
            <i class="nav-icon fas fa-database"></i>
            <p>데이터 볼륨</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/citlist" class="nav-link" alt="#" title="인스턴스 유형...">
            <i class="nav-icon fas fa-book"></i>
            <p>인스턴스 유형</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/lblist" class="nav-link" alt="#" title="로드 밸런서...">
            <i class="nav-icon fas fa-sitemap"></i>
            <p>로드 밸런서</p>
           </a>
        </li>
        <li class="nav-item" *ngIf="imgCheck">
          <a routerLink="/imagelist" class="nav-link" alt="#" title="이미지...">
            <i class="nav-icon fas fa-compact-disc"></i>
            <p>이미지</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/sshkeys" class="nav-link" alt="#" title="SSH 키...">
            <i class="nav-icon fas fa-key"></i>
            <p>SSH 키</p>
          </a>
        </li>
      <!--
        <li class="nav-item">
          <a routerLink="/firewalls" class="nav-link" alt="#" title="방화벽...">
            <i class="nav-icon fas fa-shield-alt"></i>
            <p>방화벽</p>
          </a>
        </li>
      -->
        <li class="nav-item" *ngIf="networkCheck">
          <a routerLink="/netlist" class="nav-link" alt="#" title="네트워크...">
            <i class="nav-icon fas fa-network-wired"></i>
            <p>네트워크</p>
          </a>
        </li>
      <!--
        <li class="nav-item">
          <a routerLink="/dashboard" class="nav-link" alt="#" title="Settings...">
            <i class="nav-icon fas fa-cog"></i>
            <p>Settings</p>
          </a>
        </li>
      -->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->

  </div>
</aside>
